* {
    background-color: blueviolet;
    color: black;
}

@media screen and (max-width: 1024px) {
  body {
    background-color: rgb(54, 180, 238);
  }

@media screen and (max-width: 768px) {
    body {
      background-color: rgb(205, 238, 144);
    }


@media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }

